@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* visually-hidden */
.h-delete {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
  /* outline: 2px solid tomato; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  color: var(--title-text-color);
  font-family: inherit;
  font-size: 16px;
  padding: 10px 32px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.button.button--hero {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  margin-top: 30px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.pre__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .pre__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--primary-white-color);
  display: flex;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header > .container {
  display: flex;
  align-items: center;
}

/* Navigation */
@media screen and (max-width: 767px) {
  .nav {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.navigation .navigation__item {
  position: relative;
}

.navigation .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.navigation__link--current {
  color: var(--accent-color);
}

.navigation__link--current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  display: block;
  position: absolute;
  bottom: -1px;
}

.contacts {
  margin-left: auto;
}

.contacts__icon {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item--mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .menu-open-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
  }
  .menu-open-btn:hover {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  padding: 48px 40px;
}

.menu-close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: block;
  position: absolute;
  right: 25px;
  top: 12px;
}

@media screen and (max-width: 480px) {
  .menu-close-btn {
    right: 15px;
    top: 10px;
  }
}

.menu-close-btn:hover {
  fill: var(--accent-color);
}

.mob-menu__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-navigation__link--current {
  color: var(--accent-color);
}

.mob-navigation__link:hover, .mob-navigation__link:focus {
  color: var(--accent-color);
}

.mob-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts__item {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mob-contacts__item--tel {
  font-size: 34px;
  line-height: 1.17;
  margin-bottom: 32px;
}

@media screen and (max-width: 405px) {
  .mob-contacts__item--tel {
    font-size: 27px;
  }
}

.mob-contacts__item--tel .mob-contacts__link {
  color: var(--accent-color);
}

.mob-contacts__item--mail {
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 64px;
}

.mob-contacts__item--mail .mob-contacts__link {
  color: var(--primary-text-color);
}

.mob-soc__list {
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 420px) {
  .mob-soc__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.mob-soc__item:not(:last-child)::after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 22px;
  rotate: 90deg;
  margin-left: 10px;
  margin-right: 10px;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 420px) {
  .mob-soc__link {
    font-size: 13px;
  }
}

.section--hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
  background-color: var(--footer-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section--hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section--hero {
    max-height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section--hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section--hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section--hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-2x.jpg);
  }
}

.hero__title {
  margin: 0 auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.62;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 650px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) {
  .section--benefits {
    padding-bottom: 0;
  }
}

.benefits-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.benefits-list__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits-list__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    max-width: 270px;
    margin-bottom: 0;
  }
}

.benefits-list__icon {
  background: var(--secondary-color);
  border-radius: 4px;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: start;
  }
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .benefits-list__text {
    width: 270px;
  }
}

/* Чем мы занимаемся */
@media screen and (max-width: 1199px) {
  .section--occupation {
    padding: 0;
  }
}

@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

.occupation-list {
  display: flex;
  margin-top: 50px;
}

.occupation-list .occupation-list__item {
  position: relative;
}

.occupation-list .occupation-list__item + .occupation-list__item {
  margin-left: 30px;
}

.occupation-list__img {
  display: block;
}

.occupation-list__text {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}

.section-people {
  background-color: var(--secondary-color);
}

.people-list {
  margin-top: 30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .people-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .people-list {
    margin-top: 50px;
  }
}

.people-list__item {
  width: 100%;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.people-list__item picture {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .people-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .people-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.people-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.people-wrap__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
}

.people-wrap__text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  margin-top: 10px;
  text-align: center;
}

.social-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background: var(--accent-color);
  fill: #fff;
}

.company-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .company-list {
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: nowrap;
  }
}

.company-list__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.company-list__item:hover, .company-list__item:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .company-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .company-list__item {
    width: calc(100% / 6 - 30px);
  }
}

.company-list__link {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list__link:hover, .company-list__link:focus {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .flex-footer {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    width: max-content;
  }
}

.address {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  margin-top: 20px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover, .address:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  margin-top: 9px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover, .mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .mail,
  .tel {
    text-align: left;
  }
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  margin-top: 60px;
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-social__title {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social__title {
    margin-top: 0;
    text-align: left;
  }
}

.subscription-email__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscription-email__title {
    margin-top: 0;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 65px;
    padding-top: 12px;
    width: max-content;
  }
}

.subscription-social {
  display: flex;
  justify-content: center;
}

.subscription-social__item:not(:last-child) {
  margin-right: 10px;
}

.subscription-social__icon {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-social__icon:hover, .subscription-social__icon:focus {
  background: var(--accent-color);
}

.subscription-email {
  padding-top: 12px;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .subscription-email {
    margin: 0 auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-email {
    margin-top: 0;
    margin: 0;
    margin-left: auto;
  }
}

.subscription-email__input {
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subscription-email__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-email__input {
    display: block;
    width: 358px;
    margin-bottom: 0;
  }
}

.subscription-email__icon {
  margin-left: 10px;
}

.subscription-email__btn {
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  padding: 8px 28px;
  fill: var(--primary-white-color);
  display: flex;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .subscription-email__btn {
    display: inline-flex;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-email form {
    display: flex;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 500ms cubic-bezier(0, 0.48, 0.29, 0.94), visibility 600ms cubic-bezier(0, 0.48, 0.29, 0.94), scale 300ms cubic-bezier(0, 0.48, 0.29, 0.94);
  /* transform: opacity 0%; */
  overflow-y: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 530px;
  }
}

.modal__container {
  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
    text-align: left;
  }
}

.is-hidden {
  transform: scale(120%);
  opacity: 0;
  /* скритие визуальное */
  pointer-events: none;
  /* запрещает нажимать по елементу */
  visibility: hidden;
  /* скритие от tab,от фокуса */
}

.form-list__item {
  margin-bottom: 10px;
  fill: var(--accent-color);
}

.form-list__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  display: block;
}

.form-list__wrap {
  position: relative;
}

.form-list__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list__input:hover ~ .form-list__icon,
.form-list__input:focus ~ .form-list__icon {
  fill: var(--accent-color);
}

.form-list__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list__input:hover, .form-list__input:focus {
  border: 1px solid var(--accent-color);
}

.form-list__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  width: 100%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list__textarea:hover, .form-list__textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-list__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.last-form {
  margin-bottom: 0;
}

.policy {
  margin-bottom: 30px;
  text-align: center;
}

.policy__text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .policy__text {
    font-size: 14px;
  }
}

.check-icon {
  fill: currentColor;
}

.policy__text span {
  width: 14px;
  height: 13px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
}

.policy__checkbox:checked + .policy__text > span {
  background: var(--accent-color);
  border: none;
  color: var(--primary-white-color);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--primary-white-color);
  display: flex;
  padding: 6px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.btn-send {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-send:hover, .btn-send:focus {
  background: #188ce8;
}

.agreements {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  margin-left: 3px;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .agreements {
    font-size: 14px;
  }
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__part {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

.footer__logo {
  color: var(--primary-white-color);
  text-align: center;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.portfolio-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-top: 50px;
  }
}

.project {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .project {
    margin-left: -30px;
  }
}

.project__item {
  width: 100%;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover, .project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .project__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    width: calc(100% / 3 - 30px);
  }
}

.project__img {
  display: block;
}

.project__wrap {
  position: relative;
  overflow: hidden;
}

.project__top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary-white-color);
  font-size: 15px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  padding: 0 24px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .project__top-text {
    font-size: 18px;
  }
}

.project__item:hover .project__top-text {
  transform: translateY(0);
}

.project-name {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-name__title {
  font-size: 18px;
  line-height: 2;
}

.project-name__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  margin-top: 4px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .categories-list {
    justify-content: center;
  }
}

.categories-list__item {
  margin-bottom: 15px;
}

.categories-list__item:not(:last-child) {
  margin-right: 8px;
}

.categories-list__button {
  color: var(--title-text-color);
  background-color: var(--secondary-color);
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.62;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-list__button:hover, .categories-list__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */