.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 9px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.flex-footer {
  display: flex;
}

.footer-social__title,
.subscription-email__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-social {
  margin-left: 65px;
  padding-top: 12px;
}

.subscription-social {
  display: flex;
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__icon {
    display: flex;
    padding: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: var(--accent-color);
    }
  }
}

.subscription-email {
  margin-left: auto;
  padding-top: 12px;
  &__input {
    width: 358px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: var(--primary-white-color);
  }
  &__icon {
    margin-left: 10px;
  }
  &__btn {
    cursor: pointer;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);

    padding: 8px 28px;
    margin-left: 15px;

    fill: var(--primary-white-color);
    display: inline-flex;
    align-items: center;
  }
}
