.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--primary-white-color);
  display: flex;

  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    height: 60px;
  }
  & > .container {
    display: flex;
    align-items: center;
  }
}

.menu {
}

/* Navigation */
.nav {
  @media screen and (max-width: 767px) {
    display: none;
    visibility: hidden;
  }
}

.navigation {
  @include tablet {
    display: flex;
  }
  & .navigation__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation__link {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.navigation__link--current {
  color: var(--accent-color);
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
    display: block;
    position: absolute;
    bottom: -1px;
  }
}

.contacts {
  margin-left: auto;
  &__icon {
    margin-right: 10px;
  }
  @include desktop {
    display: flex;
  }
  @media screen and (max-width: 767px) {
    display: none;
    visibility: hidden;
  }
}

.contacts__item--mail {
  margin-bottom: 10px;
}

.contacts .contacts__item + .contacts__item {
  @include desktop {
    margin-left: 50px;
  }
}

//-- mobile menu
.menu-open-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  @include tablet {
    display: none;
  }
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 24px;
  height: 3px;
  background-color: var(--accent-color);
  display: block;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 11px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburger3 .bar1 {
  transform-origin: 5%;
}

.hamburger3 .bar4 {
  transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1 {
  transform: rotate(45deg);
  height: 3px;
  width: 34px;
}

.checkbox3:checked + label > .hamburger3 > .bar3 {
  transform: rotate(45deg);
  height: 3px;
  background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar2 {
  transform: rotate(-45deg);
  height: 3px;
  background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4 {
  transform: rotate(-45deg);
  height: 3px;
  width: 34px;
}
