.section--hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-color: var(--footer-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @include tablet {
    max-height: 400px;
  }
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    max-height: 600px;
  }
}

.hero__title {
  margin: 0 auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.62;
  color: var(--primary-white-color);
  @include tablet {
  }
  @include desktop {
    max-width: 650px;
    font-size: 44px;
    line-height: 1.36;
  }
}
