/* Чем мы занимаемся */

.occupation {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.occupation-list {
  display: flex;
  margin-top: 50px;
  & .occupation-list__item {
    position: relative;
  }
  &__item {
    .occupation-list & + & {
      margin-left: 30px;
    }
  }
  &__img {
    display: block;
  }
  &__text {
    position: absolute;
    z-index: 0;

    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: #fff;
    background: rgba(47, 48, 58, 0.8);
  }
}
