.portfolio-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    margin-top: 30px;
  }
  @include desktop {
    margin-top: 50px;
  }
}

.project {
  margin-bottom: -30px;

  @include tablet {
    margin-left: -30px;
  }
  &__item {
    width: 100%;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    @include tablet {
      width: calc(100% / 2 - 30px);
      margin-left: 30px;
    }
    @include desktop {
      width: calc(100% / 3 - 30px);
    }
  }
  &__img {
    display: block;
  }
  &__wrap {
    position: relative;
    overflow: hidden;
  }
  &__top-text {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary-white-color);
    font-size: 15px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background: rgba(33, 150, 243, 0.9);
    padding: 0 24px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include mobile {
      font-size: 18px;
    }

    .project__item:hover & {
      transform: translateY(0);
    }
  }
}

.project-name {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  &__title {
    font-size: 18px;
    line-height: 2;
  }
  &__text {
    font-size: 16px;
    line-height: 1.87;

    color: var(--primary-text-color);
    margin-top: 4px;
  }
}
