.logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-decoration: none;

  &__part {
    color: var(--accent-color);
  }
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    font-size: 26px;
    margin-right: 93px;
  }
}

.footer__logo {
  color: var(--primary-white-color);
  text-align: center;
  display: block;
  @include tablet {
    margin-right: 0px;
  }
  @include desktop {
    text-align: left;
  }
}
